packages: [
  "aligner-php"
  "atom-handlebars"
  "atom-silverstripe"
  "atom-ternjs"
  "autocomplete-php"
  "editorconfig"
  "emmet"
  "file-icons"
  "highlight-line"
  "javascript-snippets"
  "language-powershell",
  "linter"
  "linter-csslint"
  "linter-htmlhint"
  "linter-php"
  "linter-phpcs"
  "linter-phpmd"
  "linter-scss-lint"
  "linter-tidy"
  "livereload"
  "markdown-pdf"
  "merge-conflicts"
  "minimap"
  "package-sync"
  "project-manager"
  "silverstripe-bundle"
]
